
@mixin vert-align{
	font-size: 0;
	&:before{
		content: '';
		height: 100%;
		width: 0;
		display: inline-block;
		vertical-align: middle;
	}
	>*{
		vertical-align: middle;
		display: inline-block;
	}
}


@media (max-width: 992px){

}

@media (max-width: 768px){

}
@media (max-width: 700px){

}

@media (max-width: 600px){

}

@media (max-width: 550px){

}
@media (max-width: 500px){

}
@media (max-width: 480px){

}
@media (max-width: 440px){

}
@media (max-width: 400px){

}
