
@mixin vert-align{
	font-size: 0;
	&:before{
		content: '';
		height: 100%;
		width: 0;
		display: inline-block;
		vertical-align: middle;
	}
	>*{
		vertical-align: middle;
		display: inline-block;
	}
}


@media (max-width: 1300px){
	.banner > .row .zvonok{
		padding: 50px 30px;
	}
}
@media (max-width: 1025px){
	.banner{
		height: 700px;
	}
}

@media (min-width: 992px){
	.header {
		.hamburher{
			display: none;
		}
		.menu {
			nav {
				ul {
					& > li{
						&.menu-item-has-children{
							&:hover{
								.sub-menu{
									display: block;
									width: 210px;
									left: -100%;
									right: auto;
									box-shadow: 0 8px 12px 1px rgba(0,0,0,.5);
								}
							}
						}
					}
				}
			}
		}
	}
}


@media (max-width: 991px){

	.header {
		.header_tel{
			padding-top: 2px;
		}
		.hamburher{
			float: right;
			font-size: 30px;
			cursor: pointer;
			position: relative;
			z-index: 9;
			position: absolute;
			top: 0;
			right: 30px;
			transition:all .4s;
			.fa-bars{
				color: #000;
				transition:all .4s;
				&:before{
					transition:all 1s;
				}
				&:hover{
					color: #8F4A1D;
				}
			}
			&.opnd{
				.fa-bars{
					&:before{
						content: "\f00d";
					}
				}
			}
		}
		.menu {
			position: absolute;
			top: -10px;
			right: 30px;
			// display: none;
			visibility: hidden;
			opacity: 0;
			transition:all .5s linear;
			nav {
				background: #FFF;
				position: absolute;
				content: "";
				top: 10px;
				right: -10px;
				max-width: 300px;
				min-width: 270px;
				width: 100%;
				border-radius: 8px;
				box-shadow: 0 0 20px 1px rgba(0,0,0,.5);
				padding-top: 40px;
				ul {
					float: left;
					width: 100%;
					& > li{
						display: block;
						float: left;
						width: 100%;
						a{
							display: inline-block;
							font-size: 18px;
							&:before,
							&:after{
								display: none;
							}
						}
						.sub-menu{
							position: static;
							padding-left: 15px;
							&:before{
								display: none;
							}
							li{
								float: left;
								width: 100%;
								text-align: left;
								height: auto;
								a{
									line-height: 30px;
								}
								&.current_page_item{
									a{
										font-weight: bold;
										color: #113CD9;
									}
								}
							}
						}
						&.menu-item-has-children{
							position: relative;
							&:before{
								position: absolute;
								content: "";
								width: 15px;
								top: 10px;
								transform: rotate(180deg);
								right: 15px;
								border-left: 8px solid transparent;
								border-right: 8px solid transparent;
								border-bottom: 8px solid #8F4A1D;
								cursor: pointer;
							}
							&.sub-opened{
								&:before{
									transform: rotate(0deg);
								}
							}
						}
						&.current_page_item{
							border: none;
						}
					}
				}
			}
			&.menu_opened{
				visibility: visible;
				opacity: 1;
			}
		}
	}

	.banner{
		& > .row {
			.caption {
				ul {
					li {
						h1{font-size: 78px;}
						h2{font-size: 50px;}
						h3{font-size: 42px;}
					}
				}
			}
		}
	}

}


@media (max-width: 900px){
	.footer{
		padding: 50px 0;
		&_logo{
			max-width: 100%;
			float: none;
			margin-bottom: 20px;
			&:after{
				position: absolute;
				content: "";
				top: 0;bottom: 0;left: 100%;
				width: 100%;
				background: inherit;
			}
			a{
				max-width: 180px;
				margin: 0 auto;
			}
		}
	}
}

@media (max-width: 800px){
	.banner{
		& > .row {
			.zvonok {
				padding: 20px;
				.call_link {
					width: 180px;
					height: 180px;
					svg{
						width: 50px;
					}
					span{
						font-size: 23px;
					}
				}
			}
			.caption {
				ul {
					li {
						h1{font-size: 64px;}
						h2{font-size: 40px;}
						h3{font-size: 32px;}
					}
				}
			}
		}
	}
}
@media (max-width: 768px){
	.header{
		top: 0;
	}
	.banner{
		padding-top: 100px;
		height: 540px;
		& > .row {
			&:before{display: none;}
			.zvonok {
				padding: 20px;
				text-align: center;
				left: 0;
				bottom: 120px;
				transform: translateY(0);
				top: auto;
				.call_link {
					width: 150px;
					height: 150px;
					svg{
						width: 40px;
					}
					span{
						font-size: 18px;
					}
				}
			}
			.caption {
				display: block;
				&:before{display: none;}
				ul {
					li {
						h1{font-size: 49px;}
						h2{font-size: 32px;}
						h3{font-size: 24px;}
					}
				}
			}
		}
	}

	.section_title .span span{
		font-size: 30px;
	}
	.manual_felling{
		padding: 20px 0 35px;
	}

	.section2 .col-sm-6 {
		.section2_block a .image{
			border-radius: 10px 10px 0 0;
		}
		&:last-child .section2_block a .image {
			border-radius: 10px 10px 0 0;
		}
	}
}

@media (max-width: 700px){
	.section4 {
		padding-bottom: 0;
		.posts_container {
			.post_row{
				margin-bottom: 30px;
				&:last-child{
					margin-bottom: 0;
				}
				&:nth-child(odd){
					.image{
						float: left;
						width: 100%;
						text-align: center;
						margin-bottom: 10px;
						img{
							width: 100%;
						}
					}
					.content{
						width: 100%;
						padding: 20px 0;
						p{
							text-align: justify;
						}
						&:after{
							position: absolute;
							content: '';
							top: 0;bottom: 0;
							width: 100%;
							background: inherit;
							left: 100%;
						}
					}
				}
				&:nth-child(even){
					.image{
						width: 100%;
						text-align: center;
						margin-bottom: 10px;
						img{
							width: 100%;
						}
					}
					.content{
						width: 100%;
						padding: 20px 0;
						p{
							text-align: justify;
						}
						&:after{
							position: absolute;
							content: '';
							top: 0;bottom: 0;
							width: 100%;
							background: inherit;
							right: 100%;
						}
					}
				}
			}
		}
	}
}
@media (max-width: 640px){
	.footer{
		&_content{
			max-width: 200px;
			span{
				font-size: 16px;
			}
		}
		&_contacts ul {
			padding: 0;
			li a{
				font-size: 25px;
				&.email{
					font-size: 18px;
				}
			}
		}
	}
}

@media (max-width: 600px){
	.contacts form label{
		&.name,
		&.tel{
			width: 100%;
		}
	}
}

@media (max-width: 510px){
	.section_title {
		.span {
			padding: 20px 10px;
			.border{
				display: none;
			}
			span{
				&:before,
				&:after{
					display: none;
				}
			}
		}
	}
	.footer{
		padding-bottom: 30px;
		&_content{
			float: none;
			margin: 0 auto;
			margin-bottom: 20px;
		}
		&_contacts{
			float: none;
			width: 100%;
			text-align: center;
		}
	}
}
@media (max-width: 480px){
	.banner{
		padding-top: 100px;
		height: 500px;
		& > .row {
			.zvonok {
				padding: 15px;
				.call_link {
					width: 142px;
					height: 142px;
					border-width: 5px;
					&:after{
						border-width: 4px;
						top: -12px;bottom: -12px;right: -12px;left: -12px;
					}
					svg{
						width: 40px;
					}
					span{
						font-size: 18px;
					}
				}
			}
			.caption {
				display: block;
				&:before{display: none;}
				ul {
					li {
						h1{font-size: 38px;}
						h2{font-size: 28px;}
						h3{font-size: 21px;}
						h1,h2,h3{
							padding-right: 50px;
							&:after{
								width: 18px;
								height: 18px;
								border-width: 3px;
								right: 15px;
							}
						}
					}
				}
			}
		}
	}
}
@media (max-width: 440px){

}
@media (max-width: 400px){
	.section2 .col-sm-6 .section2_block a .image{
		height: 220px;
	}
}
@media (max-width: 360px){
	.section2 .col-sm-6 .section2_block a .image{
		height: 200px;
	}
}
