body {
  overflow-x: hidden;
}

.row {
  max-width: 1210px;
  margin: 0 auto;
}

.banner .home_slider .slide {
  height: 792px;
  background-size: cover;
  background-position: 50%;
  padding: 50px 0;
  background-repeat: no-repeat;
  position: relative;
}

.banner .home_slider .slide:after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  box-shadow: inset 0px 40px 110px rgba(0, 0, 0, 0.7), inset 0px -40px 110px rgba(0, 0, 0, 0.7);
}

.banner .home_slider .slide:before {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.63);
}

.section_title {
  position: relative;
  margin-bottom: 31px;
}

.section_title:after {
  position: absolute;
  content: "";
  bottom: 4px;
  height: 4px;
  width: 125px;
  background: #8f4a1d;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.section_title:before {
  position: absolute;
  content: "";
  top: 100%;
  left: 0;
  right: 0;
  border-radius: 50%;
  width: 9px;
  height: 9px;
  background: #8f4a1d;
  margin: 0 auto;
}

.section_title .span {
  position: relative;
  padding: 20px 40px;
  display: inline-block;
  overflow: hidden;
}

.section_title .span .border {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  right: 0;
  height: 100%;
  border-left: 1px solid #8f4a1d;
  border-right: 1px solid #8f4a1d;
}

.section_title .span .border:before, .section_title .span .border:after {
  position: absolute;
  content: "";
  top: calc(50% - 1px);
  left: 0;
  width: calc(50% - 75px);
  background: #8f4a1d;
  height: 1px;
}

.section_title .span .border:after {
  left: auto;
  right: 0;
  width: calc(50% - 75px);
}

.section_title .span span {
  position: relative;
  font-family: "PT Sans";
  font-size: 44px;
  font-weight: bold;
  text-transform: uppercase;
  color: #8f4a1d;
}

.section_title .span span:before, .section_title .span span:after {
  position: absolute;
  content: "";
  top: calc(50% - 1px);
  left: calc(100% + 10px);
  width: 100%;
  height: 1px;
  background: #8f4a1d;
}

.section_title .span span:after {
  left: auto;
  right: calc(100% + 10px);
}

.section_title.purpure:before, .section_title.purpure:after {
  background: #fdefd3;
}

.section_title.purpure .border {
  border-left: 1px solid #fdefd3;
  border-right: 1px solid #fdefd3;
}

.section_title.purpure .border:before, .section_title.purpure .border:after {
  background: #fdefd3;
  height: 1px;
}

.section_title.purpure span {
  color: #fdefd3;
}

.section_title.purpure span:before, .section_title.purpure span:after {
  background: #fdefd3;
}

.manual_felling {
  padding: 50px 0;
  background: #fef7e9;
}

.manual_felling p {
  text-align: center;
  color: #363535;
  font-size: 16px;
  line-height: 25px;
  font-family: "PT Sans";
}

.section2 .section2_block {
  position: relative;
}

.section2 .section2_block a {
  text-decoration: none;
}

.section2 .section2_block a .image {
  width: 100%;
  height: 251px;
  position: relative;
  background-size: cover;
  background-position: 50%;
}

.section2 .section2_block a .image:before {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: #000;
  transition: all .4s;
  opacity: 0;
}

.section2 .section2_block a .content {
  background: #fdefd3;
  padding: 10px 5px;
}

.section2 .section2_block a .content .title {
  text-transform: uppercase;
  text-align: center;
  font-size: 25px;
  color: #8f4a1d;
  font-weight: bold;
  font-family: "PT Sans";
  margin: 0;
}

.section2 .section2_block a .content .subtitle {
  font-family: "PT Sans";
  font-size: 20px;
  line-height: 23px;
  color: #363535;
  margin: 0;
  text-align: center;
}

.section2 .section2_block:hover a .image:before {
  opacity: .45;
}

.rychnoy_srub {
  padding: 80px 0;
  background-size: cover;
  background-position: 50%;
  position: relative;
}

.rychnoy_srub:before {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.66);
}

.rychnoy_srub > * {
  position: relative;
}

.rychnoy_srub p {
  color: #fff;
  font-size: 16px;
  line-height: 25px;
  font-family: "PT Sans";
}
